
.flip {
    animation: flip 0.5s forwards;
  }

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        background: white;
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
        background: green;
}
}